version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: payshare-postgres
    environment:
      POSTGRES_USER: payshare_user
      POSTGRES_PASSWORD: payshare_password
      POSTGRES_DB: payshare_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

# version: '3.8'
# services:
#   postgres:
#     image: postgres:16-alpine
#     container_name: payshare-postgres
#     environment:
#       POSTGRES_USER: payshare_user
#       POSTGRES_PASSWORD: payshare_password
#       POSTGRES_DB: payshare_db
#     ports:
#       - "5432:5432"
#     volumes:
#       - postgres_data:/var/lib/postgresql/data
#       - ./certs:/var/lib/postgresql/certs  # Montre tes certificats
#     command: >
#       postgres -c ssl=on
#                -c ssl_cert_file=/var/lib/postgresql/certs/server.crt
#                -c ssl_key_file=/var/lib/postgresql/certs/server.key
#                -c ssl_ca_file=/var/lib/postgresql/certs/root.crt

# volumes:
#   postgres_data:
